{
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "prettier"],
  "rules": {
    "arrow-parens": ["warn", "always"],
    "comma-spacing": ["warn"],
    "eol-last": ["warn", "always"],
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "key-spacing": [
      "warn",
      {
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "keyword-spacing": ["warn", { "after": true }],
    "no-extra-boolean-cast": "off",
    "no-multiple-empty-lines": ["warn", { "max": 1 }],
    "no-multi-spaces": "warn",
    "no-spaced-func": "warn",
    "no-unused-vars": "warn",
    "object-curly-spacing": ["warn", "always"],
    "prettier/prettier": "warn",
    "semi": ["warn", "always"],
    "space-before-blocks": ["warn", "always"],
    "space-before-function-paren": ["warn", "never"],
    "spaced-comment": ["warn", "always"],
    "space-infix-ops": "warn",
    "space-in-parens": ["warn", "never"],
    "space-unary-ops": [
      "warn",
      {
        "words": true,
        "nonwords": false
      }
    ]
  },
  "env": {
    "es6": true,
    "node": true
  }
}
